In [1]:
import pandas as pd
import numpy as np
import os,re,time
from collections import Counter

In [2]:
data = pd.read_csv('applications.csv')

In [3]:
data.head()

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud
0,1,1/1/16,509998359,XRAAAXUAM,SMTAAXRS,4168 XEMMZ PL 19304,19304,11/3/30,6387900398,1
1,2,1/1/16,615509747,SSXTUJSJM,UTUREERX,8409 ASUZ ST 03563,3563,4/10/21,1069037699,0
2,3,1/1/16,532801671,SZMMUJEZS,EZJEAZ,9782 UMSME LN 42178,42178,9/11/13,8719510343,1
3,4,1/1/16,302334738,EAZSRMZXZ,SMSMJMMT,2687 XRXAX DR 34631,34631,6/26/07,6314026324,1
4,5,1/1/16,737610282,SMRAUMMMZ,MEAXJUX,4775 ETRXZ BLVD 88175,88175,6/26/07,9105580920,0

In [4]:
#data['date'] = pd.to_datetime(data['date'])
data = data.iloc[:,1:]

In [5]:
data.head(10)

,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud
0,1/1/16,509998359,XRAAAXUAM,SMTAAXRS,4168 XEMMZ PL 19304,19304,11/3/30,6387900398,1
1,1/1/16,615509747,SSXTUJSJM,UTUREERX,8409 ASUZ ST 03563,3563,4/10/21,1069037699,0
2,1/1/16,532801671,SZMMUJEZS,EZJEAZ,9782 UMSME LN 42178,42178,9/11/13,8719510343,1
3,1/1/16,302334738,EAZSRMZXZ,SMSMJMMT,2687 XRXAX DR 34631,34631,6/26/07,6314026324,1
4,1/1/16,737610282,SMRAUMMMZ,MEAXJUX,4775 ETRXZ BLVD 88175,88175,6/26/07,9105580920,0
5,1/1/16,915986896,SUXEEAZJX,SZEJSXZU,2713 UJZJ ST 09310,9310,5/16/23,9177343015,1
6,1/1/16,896738279,XSJZEXRZJ,TATMSSJ,8261 TSSJ CT 83503,83503,11/19/72,649792058,1
7,1/1/16,601993774,XJZAUEZTX,USSMTRX,3535 RMSJU RD 95839,95839,10/17/95,480945554,0
8,1/1/16,131340674,TZERZRXZ,USZMSMEZ,3307 SUZXR ST 04362,4362,3/14/15,350169510,0
9,1/1/16,888484341,EAXRRUMUX,RAUZRMEA,508 UMJXM BLVD 67490,67490,6/28/86,1557783849,0

In [6]:
data.dtypes

date         object
ssn           int64
firstname    object
lastname     object
address      object
zip5          int64
dob          object
homephone     int64
fraud         int64
dtype: object

In [7]:
data.shape

(94866, 9)

### here for the convenience of combining diffirent variables, and for these seemingly numric variables are actually categorical, we turn them all into strings

In [8]:
data['ssn'] = data['ssn'].astype('str')
data['zip5'] = data['zip5'].astype('str')
data['homephone'] = data['homephone'].astype('str')

### creating variables as the combinations of variables

In [9]:
#type 2
data['firstname_lastname'] = data['firstname']+'_'+data['lastname']
data['homephone_address'] = data['homephone']+'_'+data['address']
data['homephone_zip5'] = data['homephone']+'_'+data['zip5']
data['address_zip5'] = data['address']+'_'+data['zip5']
data['ssn_address'] = data['ssn']+'_'+data['address']
data['ssn_dob'] = data['ssn']+'_'+data['dob']
data['ssn_zip5'] = data['ssn']+'_'+data['zip5']
data['ssn_homephone'] = data['ssn']+'_'+data['homephone']

In [10]:
#type3
data['firstname_lastname_dob'] = data['firstname']+'_'+data['lastname']+'_'+data['dob']
data['firstname_lastname_ssn'] = data['firstname']+'_'+data['lastname']+'_'+data['ssn']
data['firstname_lastname_homephone'] = data['firstname']+'_'+data['lastname']+'_'+data['homephone']
data['firstname_lastname_address'] = data['firstname']+'_'+data['lastname']+'_'+data['address']
data['firstname_lastname_zip5'] = data['firstname']+'_'+data['lastname']+'_'+data['zip5']
data['address_zip5_homephone'] = data['address']+'_'+data['zip5']+'_'+data['homephone']

In [11]:
#type4
data['firstname_lastname_ssn_dob'] = data['firstname']+'_'+data['lastname']+'_'+data['ssn']+'_'+data['dob']

### for the convenience of future computing, let's save all possible dates as an array, and create an numeric index corresponding to it

In [12]:
dates = data['date'].unique()

In [13]:
len(dates)

365

In [14]:
data['date_index'] = data['date'].apply(lambda x: int(np.where(dates==x)[0]))

no particular reason to use a subset... I was just experimenting...

In [15]:
#subset = data.iloc[90000:,:]
subset = data

In [16]:
subset.head(5).T

,0,1,2,3,4
date,1/1/16,1/1/16,1/1/16,1/1/16,1/1/16
ssn,509998359,615509747,532801671,302334738,737610282
firstname,XRAAAXUAM,SSXTUJSJM,SZMMUJEZS,EAZSRMZXZ,SMRAUMMMZ
lastname,SMTAAXRS,UTUREERX,EZJEAZ,SMSMJMMT,MEAXJUX
address,4168 XEMMZ PL 19304,8409 ASUZ ST 03563,9782 UMSME LN 42178,2687 XRXAX DR 34631,4775 ETRXZ BLVD 88175
zip5,19304,3563,42178,34631,88175
dob,11/3/30,4/10/21,9/11/13,6/26/07,6/26/07
homephone,6387900398,1069037699,8719510343,6314026324,9105580920
fraud,1,0,1,1,0
firstname_lastname,XRAAAXUAM_SMTAAXRS,SSXTUJSJM_UTUREERX,SZMMUJEZS_EZJEAZ,EAZSRMZXZ_SMSMJMMT,SMRAUMMMZ_MEAXJUX
homephone_address,6387900398_4168 XEMMZ PL 19304,1069037699_8409 ASUZ ST 03563,8719510343_9782 UMSME LN 42178,6314026324_2687 XRXAX DR 34631,9105580920_4775 ETRXZ BLVD 88175
homephone_zip5,6387900398_19304,1069037699_3563,8719510343_42178,6314026324_34631,9105580920_88175
address_zip5,4168 XEMMZ PL 19304_19304,8409 ASUZ ST 03563_3563,9782 UMSME LN 42178_42178,2687 XRXAX DR 34631_34631,4775 ETRXZ BLVD 88175_88175
ssn_address,509998359_4168 XEMMZ PL 19304,615509747_8409 ASUZ ST 03563,532801671_9782 UMSME LN 42178,302334738_2687 XRXAX DR 34631,737610282_4775 ETRXZ BLVD 88175
ssn_dob,509998359_11/3/30,615509747_4/10/21,532801671_9/11/13,302334738_6/26/07,737610282_6/26/07
ssn_zip5,509998359_19304,615509747_3563,532801671_42178,302334738_34631,737610282_88175
ssn_homephone,509998359_6387900398,615509747_1069037699,532801671_8719510343,302334738_6314026324,737610282_9105580920
firstname_lastname_dob,XRAAAXUAM_SMTAAXRS_11/3/30,SSXTUJSJM_UTUREERX_4/10/21,SZMMUJEZS_EZJEAZ_9/11/13,EAZSRMZXZ_SMSMJMMT_6/26/07,SMRAUMMMZ_MEAXJUX_6/26/07
firstname_lastname_ssn,XRAAAXUAM_SMTAAXRS_509998359,SSXTUJSJM_UTUREERX_615509747,SZMMUJEZS_EZJEAZ_532801671,EAZSRMZXZ_SMSMJMMT_302334738,SMRAUMMMZ_MEAXJUX_737610282
firstname_lastname_homephone,XRAAAXUAM_SMTAAXRS_6387900398,SSXTUJSJM_UTUREERX_1069037699,SZMMUJEZS_EZJEAZ_8719510343,EAZSRMZXZ_SMSMJMMT_6314026324,SMRAUMMMZ_MEAXJUX_9105580920
firstname_lastname_address,XRAAAXUAM_SMTAAXRS_4168 XEMMZ PL 19304,SSXTUJSJM_UTUREERX_8409 ASUZ ST 03563,SZMMUJEZS_EZJEAZ_9782 UMSME LN 42178,EAZSRMZXZ_SMSMJMMT_2687 XRXAX DR 34631,SMRAUMMMZ_MEAXJUX_4775 ETRXZ BLVD 88175
firstname_lastname_zip5,XRAAAXUAM_SMTAAXRS_19304,SSXTUJSJM_UTUREERX_3563,SZMMUJEZS_EZJEAZ_42178,EAZSRMZXZ_SMSMJMMT_34631,SMRAUMMMZ_MEAXJUX_88175
address_zip5_homephone,4168 XEMMZ PL 19304_19304_6387900398,8409 ASUZ ST 03563_3563_1069037699,9782 UMSME LN 42178_42178_8719510343,2687 XRXAX DR 34631_34631_6314026324,4775 ETRXZ BLVD 88175_88175_9105580920
firstname_lastname_ssn_dob,XRAAAXUAM_SMTAAXRS_509998359_11/3/30,SSXTUJSJM_UTUREERX_615509747_4/10/21,SZMMUJEZS_EZJEAZ_532801671_9/11/13,EAZSRMZXZ_SMSMJMMT_302334738_6/26/07,SMRAUMMMZ_MEAXJUX_737610282_6/26/07
date_index,0,0,0,0,0

In [17]:
subset.shape

(94866, 25)

Now we have list of raw features, we can try to count them

In [18]:
features = ['ssn','zip5','dob','address','firstname_lastname',
           'homephone_address','homephone_zip5','address_zip5',
           'ssn_address','ssn_dob','ssn_zip5','ssn_homephone',
           'firstname_lastname_dob','firstname_lastname_ssn',
           'firstname_lastname_homephone','firstname_lastname_address',
           'firstname_lastname_zip5','address_zip5_homephone',
           'firstname_lastname_ssn_dob']

In [19]:
len(features)

19

## this is a sample trial

In [33]:
start = time.time()
##############
lag = 3 #this is the number of lags
#############
dic = {}
for i in range(len(dates)):
    for f in features:
        if i == 0:   #here we intialize the dictionary
            temp = subset.query('date_index <= 0')      
            dic['counter_'+f] = Counter(temp[f])
            dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
            dic[f+'_'+str(lag)] = dic['temp_count_'+f]
        elif 1 <= i <= lag-2:
            temp = subset.query('date_index <= @i')      
            dic['counter_'+f] = Counter(temp[f])
            dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
            dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],dic['temp_count_'+f]))
        else:
            temp = subset.query('@i-@lag+1 <= date_index <= @i') 
            dic['counter_'+f] = Counter(temp[f])
            dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
            dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],dic['temp_count_'+f]))

end = time.time()
print('time elapsed: {}'.format(str(end-start)))

time elapsed: 57.74768280982971

In [34]:
dic.keys()

dict_keys(['counter_ssn', 'temp_count_ssn', 'ssn_3', 'counter_zip5', 'temp_count_zip5', 'zip5_3', 'counter_dob', 'temp_count_dob', 'dob_3', 'counter_address', 'temp_count_address', 'address_3', 'counter_firstname_lastname', 'temp_count_firstname_lastname', 'firstname_lastname_3', 'counter_homephone_address', 'temp_count_homephone_address', 'homephone_address_3', 'counter_homephone_zip5', 'temp_count_homephone_zip5', 'homephone_zip5_3', 'counter_address_zip5', 'temp_count_address_zip5', 'address_zip5_3', 'counter_ssn_address', 'temp_count_ssn_address', 'ssn_address_3', 'counter_ssn_dob', 'temp_count_ssn_dob', 'ssn_dob_3', 'counter_ssn_zip5', 'temp_count_ssn_zip5', 'ssn_zip5_3', 'counter_ssn_homephone', 'temp_count_ssn_homephone', 'ssn_homephone_3', 'counter_firstname_lastname_dob', 'temp_count_firstname_lastname_dob', 'firstname_lastname_dob_3', 'counter_firstname_lastname_ssn', 'temp_count_firstname_lastname_ssn', 'firstname_lastname_ssn_3', 'counter_firstname_lastname_homephone', 'temp_count_firstname_lastname_homephone', 'firstname_lastname_homephone_3', 'counter_firstname_lastname_address', 'temp_count_firstname_lastname_address', 'firstname_lastname_address_3', 'counter_firstname_lastname_zip5', 'temp_count_firstname_lastname_zip5', 'firstname_lastname_zip5_3', 'counter_address_zip5_homephone', 'temp_count_address_zip5_homephone', 'address_zip5_homephone_3', 'counter_firstname_lastname_ssn_dob', 'temp_count_firstname_lastname_ssn_dob', 'firstname_lastname_ssn_dob_3'])

In [35]:
output_3 = pd.DataFrame(np.array([dic[f+'_3'] for f in features]).T,columns=[f+'_3' for f in features])

In [36]:
output_3.shape

(94866, 19)

In [37]:
output_3.tail()

,ssn_3,zip5_3,dob_3,address_3,firstname_lastname_3,homephone_address_3,homephone_zip5_3,address_zip5_3,ssn_address_3,ssn_dob_3,ssn_zip5_3,ssn_homephone_3,firstname_lastname_dob_3,firstname_lastname_ssn_3,firstname_lastname_homephone_3,firstname_lastname_address_3,firstname_lastname_zip5_3,address_zip5_homephone_3,firstname_lastname_ssn_dob_3
94861,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
94862,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
94863,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
94864,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
94865,1,1,1,1,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [38]:
subset.shape

(94866, 25)

## Now we know the trial works, we can scale it up

In [39]:
lag_list = [1,3,7,15,30]

In [40]:
dic = {}
for lag in lag_list:
    start = time.time()  
    for i in range(len(dates)):
        for f in features:
            if i == 0:   #here we intialize the dictionary
                temp = subset.query('date_index <= 0')      
                dic['counter_'+f] = Counter(temp[f]) ## count the factors and count the number
                dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
                dic[f+'_'+str(lag)] = dic['temp_count_'+f]
            elif 1 <= i <= lag-2:
                temp = subset.query('date_index <= @i')      
                dic['counter_'+f] = Counter(temp[f])
                dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],dic['temp_count_'+f]))
            else:
                temp = subset.query('@i-@lag+1 <= date_index <= @i') 
                dic['counter_'+f] = Counter(temp[f])
                dic['temp_count_'+f] = subset.query('date_index== @i')[f].apply(lambda x: dic['counter_'+f][x])
                dic[f+'_'+str(lag)] = np.hstack((dic[f+'_'+str(lag)],dic['temp_count_'+f]))

    end = time.time()
    print('lag{}, time elapsed: {}'.format(str(lag),str(end-start)))

lag1, time elapsed: 61.39838004112244
lag3, time elapsed: 54.41676211357117
lag7, time elapsed: 67.00175166130066
lag15, time elapsed: 72.37137603759766
lag30, time elapsed: 86.08966898918152

### so total time elapsed was about 5.75 minutes on my laptop...

In [41]:
len(dic.keys())

133

In [42]:
output = pd.DataFrame(np.array([dic[f+'_'+str(l)] for f in features for l in lag_list]).T,
             columns=[f+'_'+str(l) for f in features for l in lag_list])

In [43]:
output.shape

(94866, 95)

Note here that `dic` contains some temporary counters so the length of `dic` > that of `output`

In [44]:
output.head(5).T

                                 0  1  2   3   4
ssn_1                            1  1  1   1   2
ssn_3                            1  1  1   1   2
ssn_7                            1  1  1   1   2
ssn_15                           1  1  1   1   2
ssn_30                           1  1  1   1   2
zip5_1                           1  1  1   1   1
zip5_3                           1  1  1   1   1
zip5_7                           1  1  1   1   1
zip5_15                          1  1  1   1   1
zip5_30                          1  1  1   1   1
dob_1                            1  1  1  21  21
dob_3                            1  1  1  21  21
dob_7                            1  1  1  21  21
dob_15                           1  1  1  21  21
dob_30                           1  1  1  21  21
address_1                        1  1  1   1   1
address_3                        1  1  1   1   1
address_7                        1  1  1   1   1
address_15                       1  1  1   1   1
address_30                       1  1  1   1   1
firstname_lastname_1             1  1  1   1   1
firstname_lastname_3             1  1  1   1   1
firstname_lastname_7             1  1  1   1   1
firstname_lastname_15            1  1  1   1   1
firstname_lastname_30            1  1  1   1   1
homephone_address_1              1  1  1   1   1
homephone_address_3              1  1  1   1   1
homephone_address_7              1  1  1   1   1
homephone_address_15             1  1  1   1   1
homephone_address_30             1  1  1   1   1
...                             .. .. ..  ..  ..
firstname_lastname_ssn_1         1  1  1   1   1
firstname_lastname_ssn_3         1  1  1   1   1
firstname_lastname_ssn_7         1  1  1   1   1
firstname_lastname_ssn_15        1  1  1   1   1
firstname_lastname_ssn_30        1  1  1   1   1
firstname_lastname_homephone_1   1  1  1   1   1
firstname_lastname_homephone_3   1  1  1   1   1
firstname_lastname_homephone_7   1  1  1   1   1
firstname_lastname_homephone_15  1  1  1   1   1
firstname_lastname_homephone_30  1  1  1   1   1
firstname_lastname_address_1     1  1  1   1   1
firstname_lastname_address_3     1  1  1   1   1
firstname_lastname_address_7     1  1  1   1   1
firstname_lastname_address_15    1  1  1   1   1
firstname_lastname_address_30    1  1  1   1   1
firstname_lastname_zip5_1        1  1  1   1   1
firstname_lastname_zip5_3        1  1  1   1   1
firstname_lastname_zip5_7        1  1  1   1   1
firstname_lastname_zip5_15       1  1  1   1   1
firstname_lastname_zip5_30       1  1  1   1   1
address_zip5_homephone_1         1  1  1   1   1
address_zip5_homephone_3         1  1  1   1   1
address_zip5_homephone_7         1  1  1   1   1
address_zip5_homephone_15        1  1  1   1   1
address_zip5_homephone_30        1  1  1   1   1
firstname_lastname_ssn_dob_1     1  1  1   1   1
firstname_lastname_ssn_dob_3     1  1  1   1   1
firstname_lastname_ssn_dob_7     1  1  1   1   1
firstname_lastname_ssn_dob_15    1  1  1   1   1
firstname_lastname_ssn_dob_30    1  1  1   1   1

[95 rows x 5 columns]

# I haven't taken care of frivolous values, but it should be simple

after we deciding what are frivolous values, we can match them and reset values, doesn't have to be processed in the nested for loops